
.menu{
    display: flex;
    justify-content:flex-end;
 
   
    flex-direction: row;
    margin-bottom: 20px;
   

    
}

.menulist{
  
  margin-left: 20px;
  
 
  
   
}

.menuitem{
  text-decoration: none;
 
  color: black;
  margin-left: 30px;
  
  font-size: 16px;
}
#home{
  
 
}
.btn{
 margin-left: 100px;
}
.bdr{
  
  border-bottom: 1px solid rgb(233, 67, 67);
  
}
.h{
  display: flex;
  justify-content:space-evenly;
  margin-top: 100px;

}
*{
  background-color: blanchedalmond;
}
.t{
  color: rgb(42, 59, 17);
}
#avatar{
  width: 250px;
  height: 250px;
border-radius: 50%;
margin-top: 100px;

}
.c{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.main{
  top: 0;
  
  
  border-bottom: 1px solid rgb(233, 67, 67);

 
  
}
#project{
  width: auto;
  height: 620px;
}
#contact{
  width: auto;
  height: 620px;

}
#home{
  width: auto;
  height: 620px;}
#about{
  width: auto;
  height: 620px;
}
#resume{
  width: auto;
  height: 620px;
}
.img1{
  width: 400px;
  height: 300px;
  border-radius: 10px;
 
  
}
.img-css{
  
  
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
  width: 30%;
  
 
}
.txt{
  padding: 2px 16px;
  padding-bottom: 10px;
}
.flx{
  display: flex;
  justify-content: space-around;
}
.btnm{
  margin-left: 20px;
}
.iml{
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-top: 40px;
}